@font-face {
  font-family: raleway;
  src: url("fonts/raleway/raleway-regular-webfont.woff"); }
p, h1, h2, h3, h4, h5 {
  font-family: raleway; }

h2 {
  float: left;
  padding-right: 3em;
  display: inline-block;
  font-weight: bold;
  border-bottom: 5px solid #24ba9f;
  margin-bottom: 0.5em; }

@media (max-width: 500px) {
  h2 {
    font-size: 1.5em; } }
#gibBorder h2 {
  float: none; }

.additionalRow:nth-child(3) h2 {
  float: right;
  padding-right: 0px;
  padding-left: 3em; }

.row {
  padding: 1em 15px; }

/* ---------------------- */
/*        Top menu        */
/* ---------------------- */
#topMenu {
  background-color: black;
  font-size: 0.7em;
  color: white; }
  #topMenu span {
    font-weight: bold;
    color: #24ba9f; }
  #topMenu nav, #topMenu div {
    text-align: center;
    padding: 0.3em; }
  #topMenu .hoverList {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 300%;
    visibility: hidden;
    z-index: 1000; }
    #topMenu .hoverList img {
      margin-left: -20px;
      margin-top: 10px; }
    #topMenu .hoverList li {
      color: white;
      background-color: black;
      border-top: 5px solid black;
      border-bottom: 5px solid black; }
  #topMenu nav:hover .hoverList {
    visibility: visible; }

/* ---------------------- */
/*        Slider          */
/* ---------------------- */
#slider {
  position: relative;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #d3d2da 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #d3d2da 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #d3d2da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d2da',GradientType=0 ); }
  #slider nav {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
    z-index: 1000; }
    #slider nav:nth-child(5) {
      left: 97%; }
  #slider button {
    background-color: #24ba9f;
    border: 0px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    max-width: 100%;
    width: 300px;
    margin: 0.5em; }
  #slider div {
    text-align: center; }
  #slider nav p {
    color: #24ba9f;
    font-size: 5.5em; }
  #slider .centerMe {
    padding: 1em; }

.chairDiv {
  display: none;
  text-align: center;
  width: 100%; }
  .chairDiv img {
    display: inline; }

.active {
  display: inline; }

@media (min-width: 768px) {
  #slider div {
    position: static; }
  #slider .centerMe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 3em; } }
/* ---------------------- */
/*        Third row          */
/* ---------------------- */
.row:nth-child(3) {
  padding-top: 2em;
  padding-bottom: 2em; }

.row:nth-child(3) h3 {
  display: inline-block;
  font-weight: bold;
  padding-right: 1em;
  border-bottom: 5px solid #24ba9f;
  margin-bottom: 0.5em; }

.leftCol img {
  padding: 1em;
  padding-left: 0px;
  width: 100%; }
.leftCol div {
  height: 50%; }
.leftCol div:nth-child(2) img {
  padding-bottom: 0px; }

.rightCol {
  padding-top: 1em; }

#gibBorder {
  height: 100%;
  border: 2px solid #f1f1f1;
  margin-right: 0px; }
  #gibBorder p {
    padding: 5px; }
  #gibBorder h2 {
    margin: 5px; }

@media (max-width: 768px) {
  .row:nth-child(3) {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%; }

  .cell {
    vertical-align: top;
    display: table-cell;
    height: 100%; }

  .leftCol {
    width: 50%;
    float: none; }

  .rightCol {
    width: 50%;
    float: none; }
    .rightCol div {
      height: 100%; } }
@media (min-width: 768px) {
  .leftCol {
    width: 66.666%;
    float: left; }

  .rightCol {
    width: 33.333%;
    float: left; } }
/*----------------------- */
/*--------------------------*/
.row:nth-child(4) {
  background-color: #f1f1f1; }
  .row:nth-child(4) div:first-child {
    margin-bottom: 3em; }
  .row:nth-child(4) .table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%; }
  .row:nth-child(4) .cell {
    vertical-align: top;
    display: table-cell;
    height: 100%;
    float: none !important; }
  .row:nth-child(4) .table-split {
    display: table-cell;
    width: 1.5%; }
  .row:nth-child(4) h2 {
    display: inline-block;
    font-weight: bold;
    border-bottom: 5px solid #24ba9f;
    margin-bottom: 0.5em; }
  .row:nth-child(4) .offert {
    width: 32.333%;
    float: left;
    border: 2px solid #e4e4e4;
    position: relative;
    text-align: center; }
    .row:nth-child(4) .offert:hover {
      border: 2px solid #24ba9f; }
    @media (min-width: 500px) {
      .row:nth-child(4) .offert:hover .outerCircle {
        background-color: #24ba9f;
        border: #24ba9f; }
      .row:nth-child(4) .offert:hover .innerCircle {
        background-color: white; } }
    .row:nth-child(4) .offert h3 {
      margin-top: 2em;
      color: #24ba9f; }
    .row:nth-child(4) .offert ul {
      margin-bottom: 4em; }
    .row:nth-child(4) .offert li {
      color: grey; }
    .row:nth-child(4) .offert li:nth-child(even) {
      background-color: #f1f1f1; }
    .row:nth-child(4) .offert li:nth-child(odd) {
      background-color: #e4e4e4; }
    .row:nth-child(4) .offert .offertPrice {
      height: 8em;
      width: 8em;
      background-color: white;
      border: 2px solid #e4e4e4;
      border-radius: 50%;
      margin: 1em auto; }
      .row:nth-child(4) .offert .offertPrice div {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .row:nth-child(4) .offert .offertPrice div p {
          color: grey; }
        .row:nth-child(4) .offert .offertPrice div p:first-child {
          font-size: 2em; }
        .row:nth-child(4) .offert .offertPrice div p:nth-child(2) {
          font-size: 1.3em; }
    .row:nth-child(4) .offert button {
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #24ba9f;
      color: white;
      border-radius: 5px;
      border: 7px solid #24ba9f; }
  .row:nth-child(4) .offert:nth-child(3) {
    margin: 0px 1.5%; }
  .row:nth-child(4) .outerCircle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    background-color: #f9f9f9;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    text-align: center; }
    .row:nth-child(4) .outerCircle .innerCircle {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5em;
      height: 1.5em;
      background-color: #e4e4e4;
      border-radius: 50%; }
  .row:nth-child(4) .row {
    padding-top: 5em; }
    .row:nth-child(4) .row .additionalRow {
      width: 33.333%;
      float: left;
      text-align: center; }
    .row:nth-child(4) .row .additionalRow img {
      width: 100%; }
    .row:nth-child(4) .row #pickContainer {
      width: 100%;
      height: 55%;
      float: left;
      margin-left: 10px; }
    .row:nth-child(4) .row #pickContainer div:not(.pickList) {
      height: 26%;
      margin-bottom: 5%;
      position: relative; }
    .row:nth-child(4) .row #pickContainer ul {
      width: 100%;
      position: absolute;
      z-index: 1000;
      top: 101%;
      background-color: white;
      border: 1px solid black;
      padding: 1px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-indent: 5px;
      text-align: left;
      display: none; }
    .row:nth-child(4) .row #pickContainer li:hover {
      font-weight: bold; }
    .row:nth-child(4) .row .pickList {
      height: 25px;
      width: 25px;
      position: absolute;
      top: 40%;
      right: 3%;
      transform: translateY(-50%);
      background-image: url("images/triangle2.png");
      background-size: contain;
      margin-top: 5px;
      opacity: 0.5; }
    .row:nth-child(4) .row .pickList span {
      display: none; }
    .row:nth-child(4) .row .toggleList {
      opacity: 1; }
    .row:nth-child(4) .row #pickContainer input {
      width: 100%;
      border: 1px solid #24BA9F;
      height: 100%;
      color: #C2C2C2;
      text-indent: 10px;
      font-size: 22px;
      margin: 0px; }
    .row:nth-child(4) .row #transportLabel {
      margin-left: 10px;
      margin-top: 25px;
      border: 1px solid #24BA9F;
      float: left;
      width: 50px;
      height: 50px;
      overflow: hidden; }
    .row:nth-child(4) .row #transport {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    .row:nth-child(4) .row #transportInput {
      display: none; }
    .row:nth-child(4) .row #transportP {
      color: #C2C2C2;
      font-size: 25px;
      float: left;
      margin-left: 10px;
      margin-top: 33px; }
    .row:nth-child(4) .row #order {
      width: 80%;
      height: 50px;
      border: 1px solid #24BA9F;
      background-color: #24BA9F;
      color: #FFF;
      font-size: 22px;
      border-radius: 10px;
      margin-top: 25px;
      clear: right; }
    .row:nth-child(4) .row #yourChair {
      height: 55%;
      width: 100%;
      clear: right;
      background-color: white; }
    .row:nth-child(4) .row #yourChair div:first-child {
      width: 70%;
      height: 80%;
      float: left;
      position: relative;
      text-align: left; }
    .row:nth-child(4) .row #names p:not(:first-child) {
      color: black;
      clear: left;
      margin-left: 10px;
      margin-top: 10px; }
    .row:nth-child(4) .row #yourChair div:first-child::after {
      content: "";
      position: absolute;
      left: 10%;
      bottom: 0;
      height: 2px;
      width: 85%;
      border-bottom: 1px solid grey;
      opacity: 0.3; }
    .row:nth-child(4) .row #yourChair div:first-child::before {
      content: "";
      background: grey;
      position: absolute;
      top: 10%;
      right: 0%;
      height: 90%;
      width: 1px;
      opacity: 0.3; }
    .row:nth-child(4) .row #names p:first-child, .row:nth-child(4) .row #prices p {
      color: #24BA9F;
      clear: left;
      margin-left: 10px;
      margin-top: 10px; }
    .row:nth-child(4) .row #yourChair div:nth-child(2) p {
      margin-right: 10px;
      text-align: right; }
    .row:nth-child(4) .row #yourChair div:nth-child(3) p {
      color: #C2C2C2;
      font-size: 26px;
      float: left;
      margin-left: 10px;
      margin-top: 10px; }
    .row:nth-child(4) .row #yourChair div:nth-child(3) p:nth-child(2) {
      font-size: 26px;
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      color: #24BA9F; }
    .row:nth-child(4) .row #yourChair div:nth-child(2) {
      width: 30%;
      height: 80%;
      float: left;
      position: relative; }
    .row:nth-child(4) .row #yourChair div:nth-child(2)::after {
      content: "";
      position: absolute;
      left: 0%;
      bottom: 0;
      height: 2px;
      width: 90%;
      border-bottom: 1px solid grey;
      opacity: 0.3; }
    .row:nth-child(4) .row #yourChair div:nth-child(3) {
      width: 100%;
      height: 20%;
      clear: left; }
    .row:nth-child(4) .row #names p, .row:nth-child(4) .row #prices p {
      font-size: 2em; }

@media (max-width: 720px) {
  .row:nth-child(4) .row .additionalRow:first-child {
    width: 100%; }
  .row:nth-child(4) .row .additionalRow:nth-child(2) {
    margin-top: 6em;
    width: 35%; }
  .row:nth-child(4) .row .additionalRow:nth-child(3) {
    width: 65%; }
  .row:nth-child(4) .row #pickContainer {
    margin: 0px;
    width: 70%; }
  .row:nth-child(4) .row #checkbox {
    width: 29%;
    float: left; }
  .row:nth-child(4) .row #transportLabel {
    margin-top: 0px;
    float: right; }
  .row:nth-child(4) .row #transportP {
    float: right;
    clear: right;
    margin-top: 0px;
    font-size: 1.2em; }
  .row:nth-child(4) .row #yourChair {
    border: 2px solid #f1f1f1; } }
@media (max-width: 500px) {
  .row:nth-child(4) .row #names p, .row:nth-child(4) .row #prices p {
    font-size: 1.6em; }
  .row:nth-child(4) .table {
    display: inline-block; }
  .row:nth-child(4) .cell {
    display: inline-block; }
  .row:nth-child(4) .cell:not(.visible) {
    display: none; }
  .row:nth-child(4) .offert {
    width: 100%; }
    .row:nth-child(4) .offert .outerCircle {
      display: inline-block;
      width: 5em;
      height: 5em; }
      .row:nth-child(4) .offert .outerCircle .innerCircle {
        width: 2.5em;
        height: 2.5em; }
      .row:nth-child(4) .offert .outerCircle:hover {
        background-color: #24ba9f; }
      .row:nth-child(4) .offert .outerCircle:hover .innerCircle {
        background-color: white; }
    .row:nth-child(4) .offert .circled {
      background-color: #24ba9f; }
      .row:nth-child(4) .offert .circled .innerCircle {
        background-color: white; }
    .row:nth-child(4) .offert .outerCircle:nth-child(1) {
      left: 25%; }
    .row:nth-child(4) .offert .outerCircle:nth-child(3) {
      left: 75%; }
    .row:nth-child(4) .offert h3 {
      font-size: 2em; }
    .row:nth-child(4) .offert li {
      font-size: 1.5em; }
    .row:nth-child(4) .offert ul {
      margin-bottom: 4em; }
    .row:nth-child(4) .offert button {
      font-size: 1.5em; }
  .row:nth-child(4) .offert:nth-child(3) {
    margin: 0px; } }
/* --------------------------------- */
/* ------------------------------------ */
.row:nth-child(5) h2 {
  display: inline-block;
  font-weight: bold;
  border-bottom: 5px solid #24ba9f;
  margin-bottom: 3.5em; }

#seventhRowDivOne {
  height: 100%;
  width: 60%;
  float: left; }
  #seventhRowDivOne input {
    width: 90%;
    margin-left: 10px;
    border: 1px solid #24ba9f;
    height: 50px;
    color: #c2c2c2;
    text-indent: 10px;
    font-size: 22px; }

#seventhRowDivTwo {
  width: 40%;
  height: 100%;
  float: left; }
  #seventhRowDivTwo p {
    color: #C2C2C2;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 4px; }
  #seventhRowDivTwo img {
    float: left;
    width: 100%; }
  #seventhRowDivTwo div {
    width: 100%;
    margin-top: 25px;
    float: left; }

#userInput {
  display: none; }

#userLabel {
  height: 50px;
  width: 50px;
  border: 1px solid #24ba9f;
  float: left;
  overflow: hidden;
  margin: 5px; }
  #userLabel img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

textarea {
  resize: none;
  margin-left: 10px;
  border: 1px solid #24ba9f;
  color: #c2c2c2;
  width: 90%;
  font-size: 22px;
  text-indent: 10px;
  padding-top: 10px; }

#send {
  width: 280px;
  height: 70px;
  border: 1px solid #24ba9f;
  background-color: #24ba9f;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  margin-top: 25px; }

#order {
  width: 80%;
  height: 50px;
  border: 1px solid #24BA9F;
  background-color: #24BA9F;
  color: #FFF;
  font-size: 22px;
  border-radius: 10px;
  margin-top: 25px;
  clear: right; }

/* ------------------------------------ */
/* -------------------------------------*/
.row:nth-child(6) {
  margin-top: 5em;
  margin-bottom: 1em; }
  .row:nth-child(6) p {
    margin-top: 1em;
    color: grey; }
  .row:nth-child(6) img {
    padding: 5px;
    float: left;
    width: 25%; }
  .row:nth-child(6) div:nth-child(2) p {
    display: inline-block;
    float: right;
    margin: 1em 1em; }
  .row:nth-child(6) div:nth-child(2) {
    float: right; }
  .row:nth-child(6) span {
    font-weight: bold; }

/*# sourceMappingURL=app.css.map */
